@use "@/scss/utils/function" as *;

.Logo {
  color: red;
  height: 50px;
  font-weight: bold;
  font-size: fun-adaptiv-rem(30, 16);
  display: flex;
  justify-content: center;
  align-items: center;
}
