@use "@/scss/utils/function" as *;

.CurrencyCalculator {
  color: white;
  width: 40%;
  height: 100%;
  margin: 0 20px;

  background: #292e33;
  border: 1px solid #394047;
  border-radius: 12px;
  box-sizing: border-box;

  min-width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  padding: 20px;
}
.title {
  font-size: fun-adaptiv-rem(32, 16);
  font-weight: 900;
  color: white;
  text-align: center;
}
.ContainerInput {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.ContainerResult {
  padding: 10px 0;
}
