.RateHeader {
  display: flex;
  align-items: center;
  height: 40px;
  color: #6d7a88;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 700;
}
.Currency {
  width: 44%;
  padding-left: 8px;
  text-align: left;
}
.Value {
  width: 28%;
  text-align: center;
}
