.TelegramLink {
  color: rgb(86, 96, 107);
  margin-left: 8px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TelegramLink a {
  margin-left: 10px;
}
