.CurrencySelector {
  color: white;
  padding: 0 10px;
  margin: 0 10px;
  background-color: gray;
  border-radius: 10px;
  appearance: none; // прибираємо дефолтну стрілку браузера
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
